[Unit]
Description=Touch keyboard handler

[Service]
WorkingDirectory=/etc/touch_keyboard
ExecStart=/usr/sbin/touch_keyboard_handler -m 0.0 -D 0
Type=simple

